<div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        {% for post in post_list %}
                        <li>
                            <a href="{% url 'blog:archive' post.year post.month %}">{{ post.year }} 年 {{ post.month }}
                                月</a>
                        </li>
                        {% empty %}
                            <div>暂无归档</div>
                        {% endfor %}

                    </ul>
                </div>