<div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        {% for archive in archives %}
                        <li>
                            <a href="{% url 'blog:archives' archive.year archive.month %}">{{ archive.year }} 年-{{ archive.month }}月</a>
                        </li>
                        {% empty %}
                            <div>暂无归档</div>
                        {% endfor %}
                    </ul>
                </div>